@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --color-blue: #344973;
    --color-pink: #D94862;
    --color-salmon: #F26849;
    --color-yellow: #F2E750;
    --color-orange:#D98218;
}

header {
    background-color:#344973;
    padding: 20px;
    position: relative;
    width: 100%;
}

ul {
    list-style: none;
}


#menu {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#menu a {
    color: white;
    margin: 0 10px;
    text-decoration: none;

}

#menu a:hover {
    color: #F2E750;
}

#matricula {
    text-align: center;
}

#matricula img {
    margin-top: 10px;
    width: 50%;
}

.intro {  
    margin: 5%;
    margin-left: 20%;
    max-width: 370px;
    max-height: 220px;
    float: left;
}


.intro h3 {
    text-align: center;
    color: var(--color-blue);
    margin-top: 5px;
    margin-bottom: 5px;
}

.intro p {
    text-align: justify;
}


.imagem img {
    width: 370px;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 7px;
}

.turmas {
    background-color: var(--color-blue);
    color: white;
    width: 350px;
    padding: 10px;
    margin-left: 55px;
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
}

.turma-imagem img {
    width: 100%;
}

.turma-info h3 {
    text-align: center;
}

.professores {
    background-color: var(--color-blue);
    color: white;
    width: 200px;
    padding: 10px;
    margin-left: 95px;
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
}

.professor-imagem img {
    height: 300px;
}

.professor-info {
    text-align: center;
}

.contato {
    text-align: center;
    padding: 20px;
}

.contato h3 {
    margin-top: 20px;
    color: var(--color-blue);   
}

.contato li {
    padding: 5px;
}

.endereco {
    text-align: center;
    margin-top: 15px;
}

.endereco h3 {
    color: var(--color-blue);
}

/*Laptop L*/
@media (max-width: 1024px){
    .intro{
        margin-left: 10%;
    }
}

/*Tablet*/
@media (max-width: 768px) {

    .intro {  
        margin: 5%;
        margin-left: 26%;
        max-width: 370px;
        max-height: 220px;
        float: left;
    }

    .imagem img {
        width: 45%;
        margin-top: 80px;
        margin-bottom: 20px;
        margin-left: 210px;
    }
}

/* Mobile L */

@media (max-width: 425px) {

    .intro{  
        margin: 5%;
        margin-left: 5%;
    }
    
    .intro h3 {
        font-size: 14px;
    }
    
    .intro p {
        font-size: 12px;
    }
    
    .imagem img {
        width: 210px;
        margin-top: 30px;
        margin-left: 100px;
    }

}

/* Mobile M */

@media (max-width: 375px){

    .imagem img {
        width: 170px;
        margin-left: 110px;
    }
}

/* Mobile S */

@media (max-width: 320px){

    .intro {
        margin-left: 9%;
    }

    .imagem img {
        width: 150px;
        margin-left: 90px;
    }
}




