@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --color-blue: #344973;
    --color-pink: #D94862;
    --color-salmon: #F26849;
    --color-yellow: #F2E750;
    --color-orange:#D98218;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
    background-color: var(--color-blue);
}

.container {
    width: 990px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
}

nav ul, nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color:white;
}

.menu a:hover {
    color: #F2E750;
}


.banner_matricula {
    display: flex;
    justify-content: center;
}

.banner_matricula img {
    margin-top: 30px;
    width: 50%;
}

.informacoes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.info{
    margin-top: 30px;
    width: 500px;
    text-align: justify;
}

.info h3 {
    color: var(--color-blue);
    text-align: center;
    margin-bottom: 12px;
}

.mb {
    margin-bottom: 30px;
}
.turmas {
    background-color: var(--color-blue);
    color: white;
    width: 350px;
    padding: 10px;
    margin-left: 55px;
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
}

.turma-imagem img {
    width: 100%;
}

.turma-info h3 {
    text-align: center;
}

.professores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
}

.professor-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blue);
    width: 200px;
    padding: 10px;
    margin: 30px;
}

.professor-imagem img {
    height: 300px;
}

.professor-info {
    color: white;
}

.contato {
    text-align: center;
    padding: 20px;
}

.contato h3 {
    margin-top: 20px;
    color: var(--color-blue);   
}

.contato li {
    padding: 5px;
}

.endereco {
    text-align: center;
    margin-top: 15px;
}

.endereco h3 {
    color: var(--color-blue);
}

/*Laptop L*/
@media (max-width: 1024px){
    .intro{
        margin-left: 10%;
    }

    .turmas{
        margin-left: 90px;
    }
}

/*Tablet*/
@media (max-width: 768px) {

    .intro {  
        margin: 5%;
        margin-left: 26%;
        max-width: 370px;
        max-height: 220px;
        float: left;
    }

    .imagem img {
        width: 45%;
        margin-top: 80px;
        margin-bottom: 20px;
        margin-left: 210px;
    }

    .turmas{
        margin-left: 170px;
    }
}

/* Mobile L */

@media (max-width: 425px) {

    .intro{  
        margin: 5%;
        margin-left: 5%;
    }
    
    .intro h3 {
        font-size: 14px;
    }
    
    .intro p {
        font-size: 12px;
    }
    
    .imagem img {
        width: 210px;
        margin-top: 30px;
        margin-left: 100px;
    }

    .turmas{
        margin-left: 100px;
        width: 200px;
    }

    .turma-info h3, p{
        font-size: 12px;
    }

}

/* Mobile M */

@media (max-width: 375px){

    #menu {
        font-size: 14px;
    }

    .imagem img {
        width: 170px;
        margin-left: 110px;
    }

    .turmas{
        margin-left: 70px;
    }
}

/* Mobile S */

@media (max-width: 320px){

    #menu {
        font-size: 12px;
    }

    .intro {
        margin-left: 9%;
    }

    .imagem img {
        width: 150px;
        margin-left: 90px;
    }

    .turmas{
        margin-left: 50px;
    }
}




